= bootstrap_form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :dish
  = f.text_field :amount
  = f.text_field :units
  = f.text_field :ingredient
  = f.submit 'Save'
