= bootstrap_nested_form_for(@dish) do |f|
  - if @dish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name
  = f.text_field :time_for_cook
  = f.text_field :instructions
  = f.text_field :appliances_used
  = f.file_field :image

  #component
    = f.fields_for :components do |component_form|
      .row
        .col-md-3
          = component_form.text_field :ingredient
        .col-md-3
          = component_form.number_field :amount, step: 0.25
        .col-md-3
          = component_form.text_field :measure_unit
        .col-md-3.remove
          = component_form.link_to_remove t('views.Remove this component'), role: "button", class: 'btn btn-default'
  = f.link_to_add t('views.Add a component'), :components, :data => { :target => "#component" }, role: "button", class: 'btn btn-default'
  = f.submit t('views.Save')
