%h1 Listing dishes

%table
  %thead
    %tr
      %th Name
      %th Time for cook
      %th Instructions
      %th Appliances used
      %th
      %th
      %th

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= dish.name
        %td= dish.time_for_cook
        %td= dish.instructions
        %td= dish.appliances_used
        %td= link_to 'Show', dish
        %td= link_to 'Edit', edit_dish_path(dish)
        %td= link_to 'Destroy', dish, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dish', new_dish_path
