%h1= t('views.list')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.dish.name')
      %th= t('activerecord.attributes.dish.time_for_cook')
      %th= t('activerecord.attributes.dish.instructions')
      %th= t('activerecord.attributes.dish.appliances_used')
      %th

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= dish.name
        %td= dish.time_for_cook
        %td= dish.instructions
        %td= dish.appliances_used
        %td= link_to t('views.Show'), dish
        %td= link_to t('views.Edit'), edit_dish_path(dish)
        %td= link_to t('views.Destroy'), dish, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('views.New Dish'), new_dish_path
