%p#notice= notice
%h1.page-header= @dish.name
%p= image_tag @images["#{@dish.id}"], size: '200x200'
.panel.panel-default
  .panel-heading
    %b= t('activerecord.attributes.dish.time_for_cook')
    = @dish.time_for_cook
    = t('views.min')
  %table.table
    %thead
      %tr
        %th= t('activerecord.attributes.component.ingredient')
        %th= t('activerecord.attributes.component.amount')
        %th= t('activerecord.attributes.component.measure_unit')
    %tbody
    - @components["#{@dish.id}"].each do |i|
      %tr
        %td= i.ingredient
        %td= i.amount
        %td= i.measure_unit
    .panel-body
      %p
        = @dish.instructions

%p
  %b Appliances used:
  = @dish.appliances_used

= link_to link_to t('views.Edit'), edit_dish_path(@dish)
\|
= link_to t('views.Destroy'), @dish, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
-# = link_to 'Back', dishes_path
