= form_for @measure_unit do |f|
  - if @measure_unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@measure_unit.errors.count, "error")} prohibited this measure_unit from being saved:"
      %ul
        - @measure_unit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :standard_name
    = f.text_field :standard_name
  .field
    = f.label :nonstandard_name
    = f.text_field :nonstandard_name
  .field
    = f.label :quantity_in_standard
    = f.text_field :quantity_in_standard
  .actions
    = f.submit 'Save'
