%h1 Listing measure_units

%table
  %thead
    %tr
      %th Standard name
      %th Nonstandard name
      %th Quantity in standard
      %th
      %th
      %th

  %tbody
    - @measure_units.each do |measure_unit|
      %tr
        %td= measure_unit.standard_name
        %td= measure_unit.nonstandard_name
        %td= measure_unit.quantity_in_standard
        %td= link_to 'Show', measure_unit
        %td= link_to 'Edit', edit_measure_unit_path(measure_unit)
        %td= link_to 'Destroy', measure_unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Measure unit', new_measure_unit_path
