%p#notice= notice

%p
  %b Standard name:
  = @measure_unit.standard_name
%p
  %b Nonstandard name:
  = @measure_unit.nonstandard_name
%p
  %b Quantity in standard:
  = @measure_unit.quantity_in_standard

= link_to 'Edit', edit_measure_unit_path(@measure_unit)
\|
= link_to 'Back', measure_units_path
